* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.section-one {
  display: flex;
  background-color: #1f2937;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.header-one {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 1000px;
  height: 50px;
  font-weight: 700;
}

.header-two {
  display: flex;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  flex: 1;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.description {
  display: flex;
  justify-content: center;
  width: 400px;
  flex-direction: column;
  height: 400px;
  margin: 50px;
  gap: 15px;
}

.title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.blue-button {
  width: 120px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #3882f6;
  color: white;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.image {
  background-color: #5d5c70;
  color: white;
  width: 500px;
  height: 250px;
  align-self: center;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section two */

.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin-top: 50px;
}

.card {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  margin: 50px;
  gap: 15px;
  text-align: center;
  color: #5e626b;
}

.container {
  display: flex;
  justify-content: center;
}

.rectangle {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 20px;
}

/* Section three */

.section-three {
  background-color: #e5e7eb;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  width: 800px;
}

.author {
  font-size: 30px;
  font-weight: 800;
  width: 800px;
  text-align: end;
} 

/* section-four */

.section-four {
  background-color: #3882f6;
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-self: center;
  margin: 100px;
  color: #e5e7eb;
  align-items: center;
  padding: 50px 100px;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.bold {
  font-size: 24px;
  font-weight: 800;
}

.white-button {
  font-size: 20px;
  font-weight: 800;
  color: #e5e7eb;
  background-color: #3882f6;
  border: 2px solid #e5e7eb;
  border-radius: 4px;
  padding: 5px 20px;
}

.footer {
  background-color: #1f2937;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  font-size: large;
}